---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>HTML:5, CSS, JS, React, PHP, Typescript, FileZilla, protocoles FTP</h2>
		<p>Large connaissance des outils et langages les plus communs de programmation.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Culture Web</h2>
		<p>Mon métier c'est avant tout d'être autodidacte, constamment connecté aux acteurs du marché, aux technologies en vogue et leurs évolutions.</p>
		<p>C'est aussi et surtout être constamment flexible, réactif et à votre écoute</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Planification rigoureuse</h2>
		<p>Fort d'une connaissance fonctionnement entreprises de plus de 10ans dans les assurances, je suis de nature parfaitement rigoureuse. Tenue des échéances, contacts pros et surtout grand sérieux dans mes tâches et projets.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
